.title {
    color: rgba(63, 17, 17, 0.99);
    text-align: center;
    font-family: monospace;
    letter-spacing: 9px
    
}

#headingLine {
    color: firebrick;
    font-family:monospace;
    text-align-last: center;
    text-align: center;
    display: inline-flexbox;
}

.buttonsIncDec {
    text-align: center;
    
    display: flex; 
    margin: auto; 
    padding: 20px;
    justify-content: space-evenly;
   background-color: hsl(48, 91%, 45%);
    margin-top: 150px;
    
}
.nannaStyle{
    color: #e14747;
    font-size: inherit;
    font-weight: 600;
    
        
}
